h1 {
  font-family: "edwardian script itc", helvetica, arial;
  font-size: 3em;
}

p.message {
  font-family: "edwardian script itc", helvetica, arial;
  font-size: 2em;
}

img.big-poster {
  width: 50%;
}