h1 {
  font-family: Zapfino, Georgia, Times New Roman, Times, serif;
  font-size: 2.0em;
}

p.message {
  font-family: Zapfino, Georgia, Times New Roman, Times, serif;
  font-size: 1.5em;
}

img.big-poster {
  width: 50%;
}