h1 {
  font-family Copperplate / Copperplate Gothic Light, sans-serif;
  font-size: 2.0em;
}

p.message {
  font-family Copperplate / Copperplate Gothic Light, sans-serif;
  font-size: 1.5em;
}

img.big-poster {
  width: 50%;
}