/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FBF7EC url(images/img03.png) repeat-x;
	font:  Georgia;
	color: #999999;
}

h1, h2, h3 {
	margin: 0;
	text-transform: none;
	font-weight: normal;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.4em;
}

img {
	border: none;
}

a {
	color: #333333;
}

a:hover {
	text-decoration: none;
	color: #000000;
}

/* Header */

#header {
	width: 700px;
	height: 200px;
	margin: 0 auto;
}

/* Logo */

#logo {
	height: 74px;
}

#logo h1 {
	float: center;
	padding: 0px 0px 0 0;
	//background: url(images/img02.gif) no-repeat right center;
	letter-spacing: -2px;
	font-size: 48px;
}

#logo h2 {
	float: right;
	padding: 0px 0 0 0;
	font-size: 28px;
	
}


#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	height: 70px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style:none ;
}

#menu li {
	display: inline;
}

#menu li1 {
	display: ;
	
	}
#menu a {
	display: block;
	float: left;
	width: 140px;
	height: 45px;
	padding-top: 15px;
	text-transform: none;
	text-decoration: none;
	text-align: center;
	letter-spacing: -2px;
	font-size: 28px;
	color: #AB8A79;
}

#menu a:hover {
	color: #1A1A1A;
}

#menu .active a {
	background: url(images/img11.png) no-repeat;
	color: #FFFFFF;
}

/* Gallery */

#gallery {
	clear: both;
	width: 700px;
	height: 480px;
	margin: 0 auto;
}

#top-photo h2 {
	height: 1.4em;
	font-size: 1em;
}

#top-photo p {
	margin: 0;
	padding: 0 0 10px 0;
}

#image-right { 
  float:right; 
  width:250px; 
  height:59px;
}

#image-left { 
  float:left; 
  width:250px; 
  height:36px; 
 } 
 
#image-center { 
  display:block; 
  width:246px; 
  height:59px; 
  margin:auto; 
 } 

#prev {
	display: block;
	float: left;
	width: 30px;
	height: 100px;
	background: url(images/img11.gif) no-repeat;
}

#next {
	display: block;
	float: left;
	width: 30px;
	height: 100px;
	background: url(images/img13.gif) no-repeat right top;
}

#prev span, #next span {
	display: none;
}

#thumbs {
	display: block;
	float: center;
	width: 640px;
	height: 100px;
	background: url(images/img12.gif) no-repeat;
}

#thumbs1 {
	
	
	text-align: right;
	font-size: small;
	color: #FFFFFF;
}

#thumbs img {
	padding: 8px 0 0 10px;
}

/* Content */

#content {
	width: 700px;
	margin: 0 auto;
}

/* Posts */

#posts {
	float: right;
	width: 430px;
}

.post {
	margin-bottom: 10px;
}

.post .title {
	padding: 0 0 5px 20px;
	color: #AB8A79;
}

.post .meta {
	padding: 10px 20px;
	background: url(images/img15.gif) no-repeat;
	font-size: small;
}

.post .meta p {
	margin: 0;
}

.post .story {
	padding: 10px 20px;
	line-height: 180%;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 250px;
}
#sidebar2 {
	float: left;
	width: 250px;
}

/* Boxed1 */

.boxed {
	margin-bottom: 1.5em;
	//background: url(images/img15.gif) no-repeat 0em 2.5em;
}

.boxed h2 {
	padding-left: 20px;
	color: #669999;
}

.boxed .content {
	padding: 10px;
}

.boxed ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.boxed li {
	padding: 10px;
	border-bottom: 1px dotted #A9B293;
}

.boxed a {
	text-decoration: none;
	color: #AB8A79;
}

.boxed a:hover {
	text-decoration: underline;
}

/* Tag Cloud */

#tagcloud {
}

#tagcloud .content {
	padding: 20px;
	text-align: justify;
	font-size: small;
}

/* Footer */

#footer {
	clear: both;
	padding: 50px;
	background: #669999  ;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: smaller;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

